.todo-item {
  color: brown;
}

.completed {
  text-decoration: line-through;
}

.deleteButton {
  background-color: brown;
}

.checkButton {
  background-color: aquamarine;
}

.headerText {
  color: brown;
}
